body {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #E1D694;
}

#board {
    background-image: url("./img/flappybirdbg.png");
}